:root {
  --main-bg-color: #deedf2;
  --shadow-color: #606060;
}

body {
  padding: 3% 1% 3% 1%;
  background-color: var(--main-bg-color)
}

#content {
  margin: auto;
  max-width: 36rem;
  text-align: center;
  background-color: #a0a0a0;
  box-shadow: 1px 1px 5px var(--shadow-color);
}

#content .card-header {
  background-color: #d0d0d0;
  border-bottom: 1px solid var(--shadow-color);
}

.card-header h2 {
  font-weight: bold;
}

.character {
  margin: 1% 4% 1% 4%;
  padding: 6px 4px 6px 4px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  font-size: 18pt;
}

.character p {
  margin-bottom: 0px;
}

.char-icon {
  margin: 4px;
  height: 30px !important;
  width: 30px !important;
  vertical-align: middle;
  float: right;
}

.btn {
  touch-action: manipulation;
}

.btn-push:active {
  transform: translate(1px, 1px);
}

button#random {
  box-shadow: 1px 1px 5px var(--shadow-color);
}

#no-repeat-check-form {
  position: absolute;
  right: 8%;
  bottom: 12.5%;
  font-size: 10pt;
}

#no-repeat-check-form .form-check-label {
  padding-top: 2px;
}

#roster-menu {
  text-align: center;
  margin: auto;
}

#roster-menu select {
  width: 14rem;
  text-align: center;
  margin: auto;
}

#refresh-roster {
  margin: 0px 0px 3px 8px;
  padding: 0px 0px 0px 1px;
  line-height: 10px;
  height: 25px;
  width: 25px;
  border: 0px;
  border-radius: 15px;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 1px 1px 2px var(--shadow-color);
  text-align: center;
}

#char-list {
  display: grid;
  align-items: center;
  margin: auto;
  max-width: 65rem;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  justify-items: center;
}

#char-list *, .char-icon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.char-ctl {
  display: inline-grid;
  grid-template-columns: 36px 30px 30px 30px;
  grid-auto-rows: 36px;
  grid-gap: 10px;
  text-align: center;
  padding: 5px 1px 5px 1px;
}

.char-icon-btn {
  padding: 2px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 2px var(--shadow-color);
  background-color: white;
  /* background-color: var(--main-bg-color); */
  cursor: pointer;
}

.char-icon-btn .char-icon {
  margin: auto;
}

.freq-ctl {
  height: 32px;
  width: 32px;
  margin-top: 1px;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  line-height: 1rem;
  box-shadow: 1px 1px 2px var(--shadow-color);
  border: 0px;
  color: black;
}

.decr {
  padding: 7px 0px 0px 1px;
}

.incr {
  padding: 7px 0px 0px 1px;
}

label.freq {
  height: 32px;
  width: 32px;
  margin-top: 1px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--shadow-color);
  font-size: 14pt;
  font-weight: bold;
}



