{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block title %}
Random Character
{% endblock %}

{% block content %}

<div class="game-title" hidden>{{game}}</div>

<div class="card mb-3" id="content">
  <div class="card-header"><h2>{{game}} Character</h2></div>
  <div class="card-body">
    <div class="character">
      <p>
        <span id="char-name"></span>
        <img id="char-img" class="char-icon" src="/static/blank.png" align="middle"></img>
      </p>
    </div>
    <br>
    <button class="btn btn-primary btn-push" id="random">Random</button>
    <div class="form-check" id="no-repeat-check-form">
      <input class="form-check-input" type="checkbox" value="" id="no-repeat-check">
      <label class="form-check-label" for="no-repeat-check">
        No Repeats
      </label>
    </div>
  </div>
</div>

<div id="roster-menu">
  <select>
    {% for dist in dists %}
    <option value="{{dist}}">{{dist}}</option>
    {% endfor %}
    <option value="Custom">Custom</option>
  </select>
  <button id="refresh-roster" class="btn btn-primary btn-push">&#8634;</button>
</div>

<br>
<div class="grid-container" id="char-list"></div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename = 'js/roster.js')}}"></script>
<script src="{{url_for('.static', filename = 'js/main.js')}}"></script>
{% endblock %}
