{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block title %}
Random Character
{% endblock %}

{% block content %}
<div class="card mb-3" id="content">
  <div class="card-header"><h2>{{game}} Character</h2></div>
  <div class="card-body">
    <div class="character">
      <p>
        <span></span>
        <img class="char-icon" src="{{img_url}}" align="middle"></img>
      </p>
    </div>
    <br>
    <button onclick="gameChars.randomPressed()" class="btn btn-primary" id="random">Random</button>
  </div>
</div>

<!-- {% for i in range(3) %}
  <div class="grid-container btn-group char-ctl">
    <div><label>Character</label></div>
    <div><a class="btn btn-secondary freq-ctl decr" href="#"><b>&#8211;</b></a></div>
    <div><label class="freq">8</label></div>
    <div><a class="btn btn-secondary freq-ctl incr" href="#"><b>+</b></a></div>
  </div>
{% endfor %} -->

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename = 'js/characters.js')}}"></script>
<script src="{{url_for('.static', filename = 'js/controls.js')}}"></script>
{% endblock %}
